<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="shortcut icon" href="#" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if session.get('user') %}
            <button id="logout-button" onclick="location.href='/logout'">Log Out</button>
        {% else %}
            <h2>Sign Up and save your preferred wines!</h2> 
                <button id="signup-button" onclick="location.href='/signup'">Sign Up</button>
            <h2>Login</h2>
                <button id="login-button" onclick="location.href='/login'">Log In</button>
        {% endif %}
        {% block body %}{% endblock %}
    </body>

</html>