{% extends 'base.html' %}
{% block title %}Wine Finder{% endblock %}

{% block body %}
<h1>Welcome!</h1>

<h2>Wines</h2>
    <p><a href="/wines">View all wines</a></p>
    <p><a href="/my_wines">View my saved wines</a></p>

<h3>
    <form action="/results" method="GET">
        Name of wine
        <input type="text" name="wine_name">
        Color
        <select name="color">
            <option value="" selected disabled hidden></option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="white">White</option>
        </select>
        Country
        <select name="country">
            <option value="" selected disabled hidden></option>
            <option value="Usa">USA</option>
            <option value="France">France</option>
            <option value="Italy">Italy</option>
            <option value="Argentina">Argentina</option>
            <option value="Chile">Chile</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Australia">Australia</option>
            <option value="Spain">Spain</option>
            <option value="South Africa">South Africa</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Portugal">Portugal</option>
            <option value="China">China</option>
        </select>
        Region
        <!-- <select id="appellation-facet" class="js-example-basic-multiple select2-hidden-accessible" name="appellation" multiple="" tabindex="-1" aria-hidden="true"> -->
        <select name="region">
            <option value="" selected disabled hidden></option>   
            <option value="Saint Emilion Grand Cru">Saint Emilion Grand Cru</option>
            <option value="Napa Valley">Napa Valley</option>
            <option value="Pessac Leognan">Pessac Leognan</option>
            <option value="Pomerol">Pomerol</option>
            <option value="Margaux">Margaux</option>
            <option value="Haut Medoc">Haut Medoc</option>
            <option value="Pauillac">Pauillac</option>
            <option value="Saint Estephe">Saint Estephe</option>
            <option value="Sauternes">Sauternes</option>
            <option value="Medoc">Medoc</option>
            <option value="Saint Julien">Saint Julien</option>
            <option value="Chateauneuf Du Pape">Chateauneuf Du Pape</option>
            <option value="Bordeaux">Bordeaux</option>
            <option value="Toscana">Toscana</option>
            <option value="Bordeaux Superieur">Bordeaux Superieur</option>
            <option value="Lalande De Pomerol">Lalande De Pomerol</option>
            <option value="Castillon Cotes De Bordeaux">Castillon Cotes De Bordeaux</option>
            <option value="Graves">Graves</option>
            <option value="Hermitage">Hermitage</option>
            <option value="Champagne">Champagne</option>
            <option value="Fronsac">Fronsac</option>
            <option value="Cote Rotie">Cote Rotie</option>
            <option value="Walla Walla Valley">Walla Walla Valley</option>
            <option value="Chambolle Musigny Premier Cru">Chambolle Musigny Premier Cru</option>
            <option value="Mendoza">Mendoza</option><option value="Barolo">Barolo</option>
            <option value="Saint Emilion">Saint Emilion</option>
            <option value="Moulis En Medoc">Moulis En Medoc</option>
            <option value="Brunello Di Montalcino">Brunello Di Montalcino</option>
            <option value="Columbia Valley">Columbia Valley</option>
            <option value="Margaret River">Margaret River</option>
            <option value="Gevrey Chambertin Premier Cru">Gevrey Chambertin Premier Cru</option>
            <option value="Nuits Saint Georges Premier Cru">Nuits Saint Georges Premier Cru</option>
            <option value="Russian River Valley">Russian River Valley</option>
            <option value="Vosne Romanee Premier Cru">Vosne Romanee Premier Cru</option>
            <option value="Oakville">Oakville</option>
            <option value="Listrac Medoc">Listrac Medoc</option>
            <option value="Barsac">Barsac</option>
            <option value="Carneros">Carneros</option>
            <option value="Barossa Valley">Barossa Valley</option>
            <option value="Cornas">Cornas</option>
            <option value="Saint Joseph">Saint Joseph</option>
            <option value="Howell Mountain">Howell Mountain</option>
            <option value="Canon Fronsac">Canon Fronsac</option>
            <option value="Sonoma County">Sonoma County</option>
            <option value="Montagne Saint Emilion">Montagne Saint Emilion</option>
            <option value="Crozes Hermitage">Crozes Hermitage</option>
            <option value="Rutherford">Rutherford</option>
            <option value="Meursault Premier Cru">Meursault Premier Cru</option>
            <option value="Sonoma Coast">Sonoma Coast</option>
            <option value="Chambolle Musigny">Chambolle Musigny</option>
            <option value="Bordeaux Blanc">Bordeaux Blanc</option>
            <option value="Bonnes Mares Grand Cru">Bonnes Mares Grand Cru</option>
            <option value="Gevrey Chambertin">Gevrey Chambertin</option>
            <option value="Stags Leap District">Stags Leap District</option>
            <option value="Clos De Vougeot Grand Cru">Clos De Vougeot Grand Cru</option>
            <option value="Francs Cotes De Bordeaux">Francs Cotes De Bordeaux</option>
            <option value="Bolgheri">Bolgheri</option>
            <option value="Vosne Romanee">Vosne Romanee</option>
            <option value="Blaye Cotes De Bordeaux">Blaye Cotes De Bordeaux</option>
            <option value="Puisseguin Saint Emilion">Puisseguin Saint Emilion</option>
            <option value="Volnay Premier Cru">Volnay Premier Cru</option>
            <option value="Corton Charlemagne Grand Cru">Corton Charlemagne Grand Cru</option>
            <option value="Marlborough">Marlborough</option>
            <option value="Echezeaux Grand Cru">Echezeaux Grand Cru</option>
            <option value="Knights Valley">Knights Valley</option>
            <option value="St Helena">St Helena</option>
            <option value="Cotes Du Rhone">Cotes Du Rhone</option>
            <option value="Central Otago">Central Otago</option>
            <option value="Lujan De Cuyo">Lujan De Cuyo</option>
            <option value="Chambertin Grand Cru">Chambertin Grand Cru</option>
            <option value="Lussac Saint Emilion">Lussac Saint Emilion</option>
            <option value="Meursault">Meursault</option>
            <option value="Musigny Grand Cru">Musigny Grand Cru</option>
            <option value="Brunello Di Montalcino Riserva">Brunello Di Montalcino Riserva</option>
            <option value="Gigondas">Gigondas</option>
            <option value="Valle De Colchagua">Valle De Colchagua</option>
            <option value="Corton Grand Cru">Corton Grand Cru</option>
            <option value="Martinborough">Martinborough</option>
            <option value="Eden Valley">Eden Valley</option>
            <option value="Charmes Chambertin Grand Cru">Charmes Chambertin Grand Cru</option>
            <option value="Richebourg Grand Cru">Richebourg Grand Cru</option>
            <option value="Chambertin Clos De Beze Grand Cru">Chambertin Clos De Beze Grand Cru</option>
            <option value="Ribera Del Duero">Ribera Del Duero</option>
            <option value="Santa Cruz Mountains">Santa Cruz Mountains</option>
            <option value="Hawkes Bay">Hawkes Bay</option>
            <option value="Clos De La Roche Grand Cru">Clos De La Roche Grand Cru</option>
            <option value="Yakima Valley">Yakima Valley</option>
            <option value="Mclaren Vale">Mclaren Vale</option>
            <option value="Premieres Cotes De Bordeaux">Premieres Cotes De Bordeaux</option>
            <option value="Stellenbosch">Stellenbosch</option>
            <option value="Rioja">Rioja</option>
            <option value="Red Mountain">Red Mountain</option>
            <option value="South Australia">South Australia</option>
            <option value="Sicilia">Sicilia</option>
            <option value="Cotes De Bourg">Cotes De Bourg</option>
            <option value="Waipara">Waipara</option>
            <option value="Langhe">Langhe</option>
            <option value="Romanee Saint Vivant Grand Cru">Romanee Saint Vivant Grand Cru</option>
            <option value="Cadillac Cotes De Bordeaux">Cadillac Cotes De Bordeaux</option>
            <option value="Valle Del Aconcagua">Valle Del Aconcagua</option>
            <option value="Condrieu">Condrieu</option>
            <option value="Nuits Saint Georges">Nuits Saint Georges</option>
            <option value="Montrachet Grand Cru">Montrachet Grand Cru</option>
            <option value="Pommard Premier Cru">Pommard Premier Cru</option>
            <option value="Latricieres Chambertin Grand Cru">Latricieres Chambertin Grand Cru</option>
            <option value="Coonawarra">Coonawarra</option>
            <option value="Australian Wine">Australian Wine</option>
            <option value="California">California</option>
            <option value="Dundee Hills">Dundee Hills</option>
            <option value="Mazis Chambertin Grand Cru">Mazis Chambertin Grand Cru</option>
            <option value="Yarra Valley">Yarra Valley</option>
            <option value="Chapelle Chambertin Grand Cru">Chapelle Chambertin Grand Cru</option>
            <option value="Puente Alto">Puente Alto</option>
            <option value="Sainte-Foy-Bordeaux">Sainte-Foy-Bordeaux</option>
            <option value="Valle De Uco">Valle De Uco</option>
            <option value="La Consulta">La Consulta</option>
            <option value="Langhe Barbaresco">Langhe Barbaresco</option>
            <option value="Puligny Montrachet Premier Cru">Puligny Montrachet Premier Cru</option>
            <option value="Tupungato">Tupungato</option>
            <option value="Bolgheri Sassicaia">Bolgheri Sassicaia</option>
            <option value="Horse Heaven Hills">Horse Heaven Hills</option>
            <option value="Willamette Valley">Willamette Valley</option>
            <option value="Morey Saint Denis Premier Cru">Morey Saint Denis Premier Cru</option>
            <option value="Saint-Emilion">Saint-Emilion</option>
            <option value="Toro">Toro</option>
            <option value="Batard Montrachet Grand Cru">Batard Montrachet Grand Cru</option>
            <option value="Eola-Amity Hills">Eola-Amity Hills</option>
            <option value="Chevalier Montrachet Grand Cru">Chevalier Montrachet Grand Cru</option>
            <option value="Clos Saint Denis Grand Cru">Clos Saint Denis Grand Cru</option>
            <option value="La Romanee Grand Cru">La Romanee Grand Cru</option>
            <option value="Ruchottes Chambertin Grand Cru">Ruchottes Chambertin Grand Cru</option>
            <option value="Canterbury">Canterbury</option>
            <option value="Beaune Premier Cru">Beaune Premier Cru</option>
            <option value="Alexander Valley">Alexander Valley</option>
            <option value="Puligny Montrachet">Puligny Montrachet</option>
            <option value="Menfi">Menfi</option>
            <option value="Spring Mountain District">Spring Mountain District</option>
            <option value="Valle Del Maipo">Valle Del Maipo</option>
            <option value="Barbaresco">Barbaresco</option>
            <option value="Igp Saint Guilhem Le Desert">Igp Saint Guilhem Le Desert</option>
            <option value="Pommard">Pommard</option>
            <option value="Clare Valley">Clare Valley</option>
            <option value="Dry Creek Valley">Dry Creek Valley</option>
            <option value="Sonoma Mountain">Sonoma Mountain</option>
            <option value="Vougeot Premier Cru">Vougeot Premier Cru</option>
            <option value="Chianti Classico">Chianti Classico</option>
            <option value="Chianti Classico Gran Selezione">Chianti Classico Gran Selezione</option>
            <option value="Chianti Classico Riserva">Chianti Classico Riserva</option>
            <option value="Maremma Toscana">Maremma Toscana</option>
            <option value="Veronese">Veronese</option>
            <option value="Yountville">Yountville</option>
            <option value="Amarone Della Valpolicella Classico">Amarone Della Valpolicella Classico</option>
            <option value="Bourgogne Hautes Cotes De Nuits">Bourgogne Hautes Cotes De Nuits</option>
            <option value="Savigny Les Beaune Premier Cru">Savigny Les Beaune Premier Cru</option>
            <option value="Entre Deux Mers">Entre Deux Mers</option>
            <option value="La Tache Grand Cru">La Tache Grand Cru</option>
            <option value="Morey Saint Denis">Morey Saint Denis</option>
            <option value="Mount Veeder">Mount Veeder</option>
            <option value="Romanee Conti Grand Cru">Romanee Conti Grand Cru</option>
            <option value="Saint Georges Saint Emilion">Saint Georges Saint Emilion</option>
            <option value="Mercurey Premier Cru">Mercurey Premier Cru</option>
            <option value="Barolo Riserva">Barolo Riserva</option>
            <option value="Monthelie Premier Cru">Monthelie Premier Cru</option>
            <option value="Bienvenues Batard Montrachet Grand Cru">Bienvenues Batard Montrachet Grand Cru</option>
            <option value="Canberra District">Canberra District</option>
            <option value="Grands Echezeaux Grand Cru">Grands Echezeaux Grand Cru</option>
            <option value="Priorat">Priorat</option>
            <option value="Langhe Rosso">Langhe Rosso</option>
            <option value="Paarl">Paarl</option>
            <option value="Alta Valle della Greve">Alta Valle della Greve</option>
            <option value="Diamond Mountain District">Diamond Mountain District</option>
            <option value="Napa County">Napa County</option>
            <option value="Swartland">Swartland</option>
            <option value="Val d'Arno di Sopra">Val d'Arno di Sopra</option>
            <option value="Beechworth">Beechworth</option>
            <option value="Corton Pougets Grand Cru">Corton Pougets Grand Cru</option>
            <option value="Mercurey">Mercurey</option>
            <option value="Santa Lucia Highlands">Santa Lucia Highlands</option>
            <option value="Valle Del Cachapoal">Valle Del Cachapoal</option>
            <option value="Vista Flores">Vista Flores</option>
            <option value="Bolgheri Superiore">Bolgheri Superiore</option>
            <option value="Fleurie">Fleurie</option>
            <option value="Griottes Chambertin Grand Cru">Griottes Chambertin Grand Cru</option>
            <option value="Mazoyeres Chambertin Grand Cru">Mazoyeres Chambertin Grand Cru</option>
            <option value="Vougeot">Vougeot</option>
            <option value="Cerasuolo di Vittoria">Cerasuolo di Vittoria</option>
            <option value="Clos Des Lambrays Grand Cru">Clos Des Lambrays Grand Cru</option>
            <option value="Colli Della Toscana Centrale">Colli Della Toscana Centrale</option>
            <option value="Green Valley">Green Valley</option>
            <option value="Paso Robles">Paso Robles</option>
            <option value="Faugeres">Faugeres</option>
            <option value="Vacqueyras">Vacqueyras</option>
            <option value="Agrelo">Agrelo</option>
            <option value="Alsace">Alsace</option>
            <option value="Constantia">Constantia</option>
            <option value="Cotes De Bordeaux">Cotes De Bordeaux</option>
            <option value="IGT Percarlo">IGT Percarlo</option>
            <option value="Moulin A Vent">Moulin A Vent</option>
            <option value="Oak Knoll District">Oak Knoll District</option>
            <option value="Roccamonfina">Roccamonfina</option>
            <option value="Vin De France">Vin De France</option>
            <option value="Volnay">Volnay</option>
            <option value="Auxey Duresses">Auxey Duresses</option>
            <option value="Bourgogne Rouge">Bourgogne Rouge</option>
            <option value="Chablis Grand Cru">Chablis Grand Cru</option>
            <option value="Conca De Barbera">Conca De Barbera</option>
            <option value="Coombsville">Coombsville</option>
            <option value="Corton Les Greves Grand Cru">Corton Les Greves Grand Cru</option>
            <option value="Cote De Nuits Village">Cote De Nuits Village</option>
            <option value="Luberon">Luberon</option>
            <option value="Valle De Casablanca">Valle De Casablanca</option>
            <option value="Adelaide Hills">Adelaide Hills</option>
            <option value="Las Compuertas">Las Compuertas</option>
            <option value="Los Carneros">Los Carneros</option>
            <option value="Morgon">Morgon</option>
            <option value="Tavel">Tavel</option>
            <option value="Chablis Premier Cru">Chablis Premier Cru</option>
            <option value="Graves De Vayres">Graves De Vayres</option>
            <option value="Oregon">Oregon</option>
            <option value="Penedes">Penedes</option>
            <option value="Pouilly Fume">Pouilly Fume</option>
            <option value="Santa Ynez Valley">Santa Ynez Valley</option>
            <option value="Valle Del Rapel">Valle Del Rapel</option>
            <option value="Valpolicella">Valpolicella</option>
            <option value="Valpolicella Superiore">Valpolicella Superiore</option>
            <option value="Atlas Peak">Atlas Peak</option>
            <option value="Blagny Premier Cru">Blagny Premier Cru</option>
            <option value="Cadillac">Cadillac</option>
            <option value="Cafayate - Valle De Cafayate">Cafayate - Valle De Cafayate</option>
            <option value="Chalk Hill">Chalk Hill</option>
            <option value="Chassagne Montrachet Premier Cru">Chassagne Montrachet Premier Cru</option>
            <option value="Chateau Grillet">Chateau Grillet</option>
            <option value="Cote De Beaune">Cote De Beaune</option>
            <option value="Hilltops">Hilltops</option>
            <option value="IGP Atlantique">IGP Atlantique</option>
            <option value="Saint Peray">Saint Peray</option>
            <option value="Savigny Les Beaune">Savigny Les Beaune</option>
            <option value="Tumbarumba">Tumbarumba</option>
            <option value="Umbria">Umbria</option>
            <option value="Valle De Curico">Valle De Curico</option>
            <option value="Washington">Washington</option>
            <option value="Barbaresco Riserva">Barbaresco Riserva</option>
            <option value="Barrancas">Barrancas</option>
            <option value="Beaune les Greves">Beaune les Greves</option>
            <option value="Bordeaux Rose">Bordeaux Rose</option>
            <option value="Bourgogne Blanc">Bourgogne Blanc</option>
            <option value="Criots-Batard-Montrachet">Criots-Batard-Montrachet</option>
            <option value="Amador County">Amador County</option>
            <option value="Bekaa Valley">Bekaa Valley</option>
            <option value="Bot River">Bot River</option>
            <option value="Bourgogne Aligote">Bourgogne Aligote</option>
            <option value="Calistoga">Calistoga</option>
            <option value="Chablis">Chablis</option>
            <option value="Cote De Nuits Villages">Cote De Nuits Villages</option>
            <option value="Porto">Porto</option>
            <option value="San Rafael">San Rafael</option>
            <option value="Santenay Premier Cru">Santenay Premier Cru</option>
            <option value="Sonoma Valley">Sonoma Valley</option>
            <option value="Valdeorras">Valdeorras</option>
            <option value="Waiheke Island">Waiheke Island</option>
            <option value="Chapadmalal">Chapadmalal</option>
            <option value="Cote De Brouilly">Cote De Brouilly</option>
            <option value="Limestone Coast">Limestone Coast</option>
            <option value="Muscadet Sevre Et Maine">Muscadet Sevre Et Maine</option>
            <option value="Ribbon Ridge">Ribbon Ridge</option>
            <option value="Tasmania">Tasmania</option>
            <option value="Vino Nobile Di Montepulciano">Vino Nobile Di Montepulciano</option>
            <option value="Vino Nobile Di Montepulciano Riserva">Vino Nobile Di Montepulciano Riserva</option>
            <option value="Alsace Grand Cru">Alsace Grand Cru</option>
            <option value="Anderson Valley">Anderson Valley</option>
            <option value="Bennett Valley">Bennett Valley</option>
            <option value="Bourgogne">Bourgogne</option>
            <option value="Brouilly">Brouilly</option>
            <option value="Clos De Tart Grand Cru">Clos De Tart Grand Cru</option>
            <option value="Costieres De Nimes">Costieres De Nimes</option>
            <option value="Cotes Du Rhone Villages">Cotes Du Rhone Villages</option>
            <option value="Cotes de Provence">Cotes de Provence</option>
            <option value="Etna">Etna</option>
            <option value="Fixin">Fixin</option>
            <option value="Maipu">Maipu</option>
            <option value="Marsannay">Marsannay</option>
            <option value="Mendocino Ridge">Mendocino Ridge</option>
            <option value="Montlouis Sur Loire">Montlouis Sur Loire</option>
            <option value="Noto">Noto</option>
            <option value="Paraje Altamira">Paraje Altamira</option>
            <option value="Sierra Foothills">Sierra Foothills</option>
            <option value="Sta Rita Hills">Sta Rita Hills</option>
            <option value="Taurasi Riserva">Taurasi Riserva</option>
            <option value="Toscana Bianco IGT">Toscana Bianco IGT</option>
            <option value="Valle De Maule">Valle De Maule</option>
            <option value="Vittoria">Vittoria</option>
            <option value="Aloxe Corton">Aloxe Corton</option>
            <option value="Amarone Della Valpolicella">Amarone Della Valpolicella</option>
            <option value="Anjou">Anjou</option>
            <option value="Bandol">Bandol</option>
            <option value="Bannockburn">Bannockburn</option>
            <option value="Beaujolais">Beaujolais</option>
            <option value="Beaujolais Villages">Beaujolais Villages</option>
            <option value="Bonnezeaux">Bonnezeaux</option>
            <option value="Catalunya">Catalunya</option>
            <option value="Chehalem Mountains">Chehalem Mountains</option>
            <option value="Chianti Colli Senesi">Chianti Colli Senesi</option>
            <option value="Chusclans">Chusclans</option>
            <option value="Corton Bressandes Grand Cru">Corton Bressandes Grand Cru</option>
            <option value="Costers Del Segre">Costers Del Segre</option>
            <option value="Dalsheim">Dalsheim</option>
            <option value="Fixin Premier Cru">Fixin Premier Cru</option>
            <option value="Geographe">Geographe</option>
            <option value="Grampians">Grampians</option>
            <option value="Great Southern">Great Southern</option>
            <option value="Greco Di Tufo">Greco Di Tufo</option>
            <option value="Hattenheim">Hattenheim</option>
            <option value="Igp Cotes Catalanes">Igp Cotes Catalanes</option>
            <option value="Igp Mediterranee">Igp Mediterranee</option>
            <option value="Igp Pays D'Oc">Igp Pays D'Oc</option>
            <option value="Igp Val De Loire">Igp Val De Loire</option>
            <option value="Irpinia">Irpinia</option>
            <option value="Kiedrich">Kiedrich</option>
            <option value="Langhorne Creek">Langhorne Creek</option>
            <option value="Lirac">Lirac</option>
            <option value="Mendocino County">Mendocino County</option>
            <option value="Montagny">Montagny</option>
            <option value="Monterey">Monterey</option>
            <option value="Monticello">Monticello</option>
            <option value="Mornington Peninsula">Mornington Peninsula</option>
            <option value="Mount Harlan">Mount Harlan</option>
            <option value="North Coast">North Coast</option>
            <option value="Pernand Vergelesses">Pernand Vergelesses</option>
            <option value="Rasteau">Rasteau</option>
            <option value="Ribeira Sacra">Ribeira Sacra</option>
            <option value="Rueda">Rueda</option>
            <option value="San Luis Obispo County">San Luis Obispo County</option>
            <option value="Sant'Antimo">Sant'Antimo</option>
            <option value="Santa Maria Valley">Santa Maria Valley</option>
            <option value="Savennieres">Savennieres</option>
            <option value="Shangri La">Shangri La</option>
            <option value="Snipes Mountain">Snipes Mountain</option>
            <option value="Touraine">Touraine</option>
            <option value="Valle Central">Valle Central</option>
            <option value="Veneto">Veneto</option>
            <option value="Ventoux">Ventoux</option>
            <option value="Vin Santo Di Montepulciano">Vin Santo Di Montepulciano</option>
        </select>
        Vintage
        <select name="vintage">
            <!-- <select id="vintages-facet" class="js-example-basic-multiple select2-hidden-accessible" name="vintages" multiple="" tabindex="-1" aria-hidden="true">
                Vintages facet will appear here -->
            <option value="" selected disabled hidden></option>     
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
            <option value="1984">1984</option>
            <option value="1983">1983</option>
            <option value="1982">1982</option>
            <option value="1981">1981</option>
            <option value="1980">1980</option>
            <option value="1979">1979</option>
            <option value="1978">1978</option>
            <option value="1977">1977</option>
            <option value="1976">1976</option>
            <option value="1975">1975</option>
            <option value="1974">1974</option>
            <option value="1973">1973</option>
            <option value="1972">1972</option>
            <option value="1971">1971</option>
            <option value="1970">1970</option>
            <option value="1969">1969</option>
            <option value="1968">1968</option>
            <option value="1967">1967</option>
            <option value="1966">1966</option>
            <option value="1965">1965</option>
            <option value="1964">1964</option>
            <option value="1963">1963</option>
            <option value="1962">1962</option>
            <option value="1961">1961</option>
            <option value="1960">1960</option>
            <option value="1959">1959</option>
            <option value="1958">1958</option>
            <option value="1957">1957</option>
            <option value="1955">1955</option>
            <option value="1953">1953</option>
            <option value="1952">1952</option>
            <option value="1950">1950</option>
            <option value="1949">1949</option>
            <option value="1948">1948</option>
            <option value="1947">1947</option>
            <option value="1945">1945</option>
            <option value="1939">1939</option>
            <option value="1937">1937</option>
            <option value="1934">1934</option>
            <option value="1931">1931</option>
            <option value="1929">1929</option>
            <option value="1928">1928</option>
            <option value="1926">1926</option>
            <option value="1924">1924</option>
            <option value="1921">1921</option>
            <option value="1919">1919</option>
            <option value="1918">1918</option>
            <option value="1911">1911</option>
            <option value="1909">1909</option>
            <option value="1905">1905</option>
            <option value="1900">1900</option>
            <option value="1899">1899</option>
            <option value="1897">1897</option>
            <option value="1893">1893</option>
            <option value="1863">1863</option>
            <option value="1847">1847</option>
            <option value="1811">1811</option>
        </select>
        <input type="submit">
    </form>
</h3>
<section>
<ul>
    {% for wine in wines %}
    <li>
    <span class="wine-span">
        <img class=border src="{{ wine.url }}"/>
        <h4>{{ wine.name }}</h4>
    </span>
    </li>
    {% endfor %}
</ul>
</section>
{% endblock %}